.banner {

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 8%;
    margin: 0 0 4rem 0;
    padding: 0;
    background: linear-gradient(
        to bottom, 
        rgb(150, 150, 150) 0%,
        rgba(236, 236, 236, 1) 100%
    );
    overflow: hidden;
    z-index: 1;
}
