.wrapper-accessories-discovery {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    gap: 0;
    width: 100%;
    height: 70%;
    margin: 2rem 0 0 0;
    padding: 0;
    background: linear-gradient(
    to right,
    rgba(236, 236, 236, 0.65) 0%, 
    rgba(236, 236, 236, 0.65) 100%
    ), 
    url("../../assets/WrapperDiscovery/background.png");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    text-align: center;
    overflow: hidden;
}

.wrapper-accessories-discovery-description {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 0;
    width: 60%;
    height: 70%;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

.wrapper-accessories-discovery-description > h5 {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 30px;
}

.wrapper-accessories-discovery-description > h4 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.wrapper-accessories-discovery-description > p {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

/* Action Button */
.wrapper-accessories-discovery-button {

    position: relative;
    flex-shrink: 0;
    width: 125px;
    height: 45px;
    transform-origin: center center;
    transform: scale(1);
    margin: 0;
    padding: 0;
    background-color: rgb(255, 174, 110);
    cursor: pointer;
    overflow: hidden; /* Pour que le ::before reste à l'intérieur de la div */
    border: 0.5px solid black;
    z-index: 1;
}

.wrapper-accessories-discovery-button:hover {

    animation: wrapper-accessories-discovery-button-animation 1s infinite;
}

@keyframes wrapper-accessories-discovery-button-animation {

    0% {

        transform: scale(1);
    }
    50% {

        transform: scale(1.05);
    }
    100% {

        transform: scale(1);
    }
}

.wrapper-accessories-discovery-button::before {

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: -100%;
    background-color: rgb(255, 221, 193);
    transition: left 0.3s ease;
    z-index: 2;
}

.wrapper-accessories-discovery-button:hover::before {

    left: 0%;
}

.wrapper-accessories-discovery-button span {

    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    transition: color 1s ease;
    z-index: 3;
}

.wrapper-accessories-discovery-button:hover span {

    color: rgb(33, 33, 33);
}

@media (min-width: 400px) and (max-width: 1900px) {

    .wrapper-accessories-discovery-description {

        width: 60%;
        height: 80%;
    }

    .wrapper-accessories-discovery-description > h5 {

        font-size: 25px;
    }

    .wrapper-accessories-discovery-description > h4 {

        font-size: 30px;
    }

    .wrapper-accessories-discovery-description > p {

        font-size: 20px;
    }
}
