.cookie-banner {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: black;
    padding: 0;
    margin: 0;
    z-index: 9999 !important;
    overflow: hidden;
}

.cookie-banner-wrapper {

    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-size: 14px;
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cookie-banner-wrapper > h1 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 10px;
    text-align: center;
}

.cookie-banner-wrapper > p {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px 20px 10px 20px;
    text-align: left;
}

.cookie-banner-button {

    border: none;
    background-color: rgb(250, 183, 143);
    padding: 1rem;
    cursor: pointer;
    margin: 1rem 2rem 1rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.cookie-banner-button:hover {

    animation: cookie-banner-wrapper-button-animation 1s infinite;
}

@keyframes cookie-banner-wrapper-button-animation {

    0% {

        transform: scale(1);
        background-color: rgb(255, 221, 193);
    }
    50% {

        transform: scale(1.05);
        background-color: rgb(255, 221, 193);
    }
    100% {

        transform: scale(1);
        background-color: rgb(255, 221, 193);
    }
}

.privacy-policy-wrapper {

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: left !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.privacy-policy-wrapper > h1,
.privacy-policy-wrapper > h2,
.privacy-policy-wrapper > h3,
.privacy-policy-wrapper > h4,
.privacy-policy-wrapper > h5,
.privacy-policy-wrapper > p {

    margin: 20px;
}

.privacy-policy-wrapper > h1 {

    font-size: 23px;
}

.privacy-policy-wrapper > h2 {

    font-size: 22px;
}

.privacy-policy-wrapper > h3 {

    font-size: 21px;
}

.privacy-policy-wrapper > h4 {

    font-size: 20px;
}

.privacy-policy-wrapper > h5 {

    font-size: 19px;
}

.privacy-policy-wrapper > p {

    font-size: 18px;
}

@media (min-width: 400px) and (max-width: 1000px) {

    .cookie-banner-wrapper {

        width: 100%;
        height: 90%;
        border-radius: 0px;
    }
}
