.shopping-cart-page {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.shopping-cart-page-maincontent {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(236, 236, 236);;
    background-image: url("../../assets/ShoppingCartPage/background_part1.png"), url("../../assets/ShoppingCartPage/background_part2.png");
    background-size: 50% 100%, 50% 100%;
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 0;
}

.shopping-cart-page-wrapper {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 90%;
    height: 90%;
    margin: 2rem 0 2rem 0;
    padding: 0;
    border: 1px solid rgb(76, 76, 76);
    background: rgb(236, 236, 236);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
}

.shopping-cart-page-wrapper h3 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 1rem;
    text-align: center;
}

hr {
    
    width: 100%;
}

.client-shopping-cart-history-client {

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    top: 10%;
    left: 2%;
    width: 40%;
    height: 80%;
    margin: 0;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.client-shopping-cart-history-client p {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 1rem;
    text-align: left;
}

.client-shopping-cart-history-orders {

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    top: 10%;
    left: 50%;
    width: 40%;
    height: 60%;
    margin: 0;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.client-shopping-cart-history-orders > select {

    background: transparent;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 4px;
    margin-bottom: 1rem;
}

.client-shopping-cart-history-orders > select:hover {

    background-color: rgb(206, 206, 206);
}

.client-shopping-cart-options {
    
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 2rem;
    top: 80%;
    left: 50%;
    width: 40%;
    height: 10%;
    margin: 1rem;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 10px;
}

.client-shopping-cart-history-order-img {

    position: relative;
    display: block;
    flex-shrink: 0;
    top: auto;
    left: auto;
    width: auto;
    height: 100px;
    max-width: 500px;
    margin-bottom: 1rem;
    border-radius: 20px;
    object-fit: contain;
}

/* Customisation Action Buttons */
.client-shopping-cart-history-client-modify-info,
.client-shopping-cart-history-delete-all-orders, 
.client-shopping-cart-history-confirm-all-orders, 
.client-shopping-cart-history-order-delete, 
.client-shopping-cart-history-order-confirm-changes, 
.client-shopping-cart-history-order-cancel-changes {

    position: relative;
    flex-shrink: 0;
    transform-origin: center center;
    transform: scale(1);
    margin: 1rem 0 1rem 0;
    padding: 1rem 0 1rem 0;
    background-color: rgb(206, 206, 206);
    border: 0.5px solid rgb(82, 82, 82);
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden; /* Pour que le ::before reste à l'intérieur de la div */
    z-index: 1;
}

.client-shopping-cart-history-delete-all-orders, 
.client-shopping-cart-history-confirm-all-orders {

    width: 30%;
    height: 10%;
}

.client-shopping-cart-history-client-modify-info {

    width: 200px;
    height: 50px;
}

.client-shopping-cart-history-order-delete {

    width: 80px;
    height: 10%;
}

.client-shopping-cart-history-order-confirm-changes, 
.client-shopping-cart-history-order-cancel-changes {

    width: 200px;
    height: 10%;
}

.client-shopping-cart-history-client-modify-info:hover,
.client-shopping-cart-history-delete-all-orders:hover, 
.client-shopping-cart-history-confirm-all-orders:hover, 
.client-shopping-cart-history-order-delete:hover, 
.client-shopping-cart-history-order-confirm-changes:hover, 
.client-shopping-cart-history-order-cancel-changes:hover {

    background-color: rgb(255, 205, 147);
    animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {

    0% {

        transform: scale(1);
    }
    50% {

        transform: scale(1.05);
    }
    100% {

        transform: scale(1);
    }
}

.client-shopping-cart-history-client-modify-info::before,
.client-shopping-cart-history-delete-all-orders::before, 
.client-shopping-cart-history-confirm-all-orders::before, 
.client-shopping-cart-history-order-delete::before, 
.client-shopping-cart-history-order-confirm-changes::before, 
.client-shopping-cart-history-order-cancel-changes::before {

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgb(206, 206, 206);
    transition: top 0.5s ease;
    z-index: 2;
}

.client-shopping-cart-history-client-modify-info:hover::before,
.client-shopping-cart-history-delete-all-orders:hover::before, 
.client-shopping-cart-history-confirm-all-orders:hover::before, 
.client-shopping-cart-history-order-delete:hover::before, 
.client-shopping-cart-history-order-confirm-changes:hover::before, 
.client-shopping-cart-history-order-cancel-changes:hover::before {

    top: 100%;
}

.client-shopping-cart-history-client-modify-info > span,
.client-shopping-cart-history-delete-all-orders > span, 
.client-shopping-cart-history-confirm-all-orders > span, 
.client-shopping-cart-history-order-delete > span, 
.client-shopping-cart-history-order-confirm-changes > span, 
.client-shopping-cart-history-order-cancel-changes > span {

    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 15px;
    transition: color 1s ease;
    z-index: 3;
}

.client-shopping-cart-history-client-modify-info:hover > span,
.client-shopping-cart-history-delete-all-orders:hover > span, 
.client-shopping-cart-history-confirm-all-orders:hover > span, 
.client-shopping-cart-history-order-delete:hover > span, 
.client-shopping-cart-history-order-confirm-changes:hover > span, 
.client-shopping-cart-history-order-cancel-changes:hover > span {

    color: rgb(82, 82, 82);
}

@media (min-width: 400px) and (max-width: 1000px) {

    .shopping-cart-page-maincontent {

        background-color: rgb(236, 236, 236);
        background-image: url("../../assets/ShoppingCartPage/background_part2.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .shopping-cart-page-wrapper {

        width: 100%;
        height: 90%;
    }

    .client-shopping-cart-history-client {

        height: 60%;
    }

    .client-shopping-cart-options {
        
        top: 75%;
        left: 1%;
        width: 90%;
        height: 20%;
    }

    .client-shopping-cart-history-delete-all-orders, 
    .client-shopping-cart-history-confirm-all-orders {

        width: 40%;
        height: 10%;
    }
}
