.reset-password-page {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.reset-password-page-maincontent {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(236, 236, 236);;
    background-image: url("../../assets/LoggingPage/background_part1.png"), url("../../assets/LoggingPage/background_part2.png");
    background-size: 50% 100%, 50% 100%;
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 0;
}

.reset-password-page-wrapper {

    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90%;
    margin: 2rem 0 2rem 0;
    border: 1px solid rgb(76, 76, 76);
    background-color: rgb(236, 236, 236);
}

/* Customisation Action Buttons */
.reset-password-page-wrapper-go-back-button, 
.reset-password-page-wrapper-send-button, 
.reset-password-page-wrapper-confirm-button, 
.reset-password-page-wrapper-back-button {

    position: relative;
    flex-shrink: 0;
    transform-origin: center center;
    transform: scale(1);
    padding: 1rem 0 1rem 0;
    background-color: rgb(206, 206, 206);
    border: 0.5px solid rgb(82, 82, 82);
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden; /* Pour que le ::before reste à l'intérieur de la div */
    z-index: 1;
}

.reset-password-page-wrapper-send-button {

    margin: 1rem auto 1rem auto;
}

.reset-password-page-wrapper-confirm-button, 
.reset-password-page-wrapper-back-button {

    margin: 1rem 1rem 1rem 1rem;
}

.reset-password-page-wrapper-send-button, 
.reset-password-page-wrapper-confirm-button, 
.reset-password-page-wrapper-back-button {

    width: 25%;
    height: 10%;
}

.reset-password-page-wrapper-go-back-button {

    width: 200px;
    height: 50px;
    margin: 1rem auto 1rem auto;
}

.reset-password-page-wrapper-go-back-button:hover, 
.reset-password-page-wrapper-send-button:hover, 
.reset-password-page-wrapper-confirm-button:hover, 
.reset-password-page-wrapper-back-button:hover {

    background-color: rgb(255, 205, 147);
    animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {

    0% {

        transform: scale(1);
    }
    50% {

        transform: scale(1.05);
    }
    100% {

        transform: scale(1);
    }
}

.reset-password-page-wrapper-go-back-button::before, 
.reset-password-page-wrapper-send-button::before, 
.reset-password-page-wrapper-confirm-button::before, 
.reset-password-page-wrapper-back-button::before {

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgb(206, 206, 206);
    transition: top 0.5s ease;
    z-index: 2;
}

.reset-password-page-wrapper-go-back-button:hover::before, 
.reset-password-page-wrapper-send-button:hover::before, 
.reset-password-page-wrapper-confirm-button:hover::before, 
.reset-password-page-wrapper-back-button:hover::before {

    top: 100%;
}

.reset-password-page-wrapper-go-back-button > span, 
.reset-password-page-wrapper-send-button > span, 
.reset-password-page-wrapper-confirm-button > span, 
.reset-password-page-wrapper-back-button > span {

    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 15px;
    transition: color 1s ease;
    z-index: 3;
}

.reset-password-page-wrapper-go-back-button:hover > span, 
.reset-password-page-wrapper-send-button:hover > span, 
.reset-password-page-wrapper-confirm-button:hover > span, 
.reset-password-page-wrapper-back-button:hover > span {

    color: rgb(82, 82, 82);
}

/* Customisation New Password */
.new-password-wrapper {

    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.reset-password-page-wrapper-new-password-input {

    width: 300px;
    background: transparent;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 4px;
    margin: 1rem 0 1rem 0;
    text-align: left;
    padding: 16px 0 16px 13px;
    font-size: 15px;
}

.reset-password-page-wrapper-new-password-input {

    color: rgb(82, 82, 82);
}

.reset-password-page-wrapper-new-password-input {

    border: 1px solid rgb(87, 87, 87);
}

.reset-password-page-wrapper-toggle-new-password-button {

    width: 8%;
    margin-left: 1px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.new-password-options-wrapper {

    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (min-width: 400px) and (max-width: 1000px) {

    .reset-password-page-maincontent {

        background-color: rgb(236, 236, 236);
        background-image: url("../../assets/LoggingPage/background_part2.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .reset-password-page-wrapper-send-button, 
    .reset-password-page-wrapper-confirm-button, 
    .reset-password-page-wrapper-back-button {

        width: 70%;
    }
}

@media (min-width: 1001px) and (max-width: 1900px) {

    .reset-password-page-wrapper-send-button, 
    .reset-password-page-wrapper-confirm-button, 
    .reset-password-page-wrapper-back-button {

        width: 40%;
    }
}
