.test-page {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
    animation: test-page-animation 2s ease-in-out forwards;
    animation-delay: 0.1s;
    z-index: 0;
}

@keyframes test-page-animation {

    0% {

        transform: scale(1.03);
    }
    100% {

        transform: scale(1);
    }
}

/* Customisation Overlay */
.test-page-strip-1-overlay, 
.test-page-strip-2-overlay, 
.test-page-strip-3-overlay, 
.test-page-strip-4-overlay {

    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    transform-origin: bottom right;
    overflow: hidden;
    z-index: 0;
    animation: test-page-strip-overlay-animation 1s ease forwards;
}

.test-page-strip-1-overlay {

    left: 0%;
    width: 25%;
    background-color: rgb(255, 221, 193);
    animation-delay: 0s;
}

.test-page-strip-2-overlay {

    left: 25%;
    width: 25%;
    background-color: rgb(250, 183, 143);
    animation-delay: 0.1s;
}

.test-page-strip-3-overlay {

    left: 50%;
    width: 25%;
    background-color: rgb(255, 174, 110);
    animation-delay: 0.2s;
}

.test-page-strip-4-overlay {

    left: 75%;
    width: 25%;
    background-color: rgb(255, 161, 73);
    animation-delay: 0.3s;
}

@keyframes test-page-strip-overlay-animation {

    0% {

        transform: scaleY(1);
    }
    100% {

        transform: scaleY(0);
    }
}

.test-page-wrapper {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.test-page-maincontent {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(236, 236, 236);;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 0;
}

.test-page-maincontent > h1 {

    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    font-size: 70px;
    margin: 0;
    text-align: center;
    color: rgb(94, 94, 94);
}
