.edit-page {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.edit-page-maincontent {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(236, 236, 236);;
    background-image: url("../../assets/EditPage/background_part1.png"), url("../../assets/EditPage/background_part2.png");
    background-size: 50% 100%, 50% 100%;
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 0;
}

.edit-page-wrapper {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 90%;
    height: 90%;
    margin: 2rem 0 2rem 0;
    padding: 0;
    border: 1px solid rgb(76, 76, 76);
    background: rgb(236, 236, 236);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
}

.edit-page-wrapper h3 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 1rem;
    text-align: center;
}

.edit-page-wrapper-info-client {

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    top: 10%;
    left: 2%;
    width: 40%;
    height: 80%;
    margin: 0;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.edit-page-wrapper-info-client p {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 1rem;
    text-align: left;
}

.edit-page-wrapper-edit {

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    top: 10%;
    left: 50%;
    width: 40%;
    height: 80%;
    margin: 0;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.edit-page-wrapper-form {

    margin-top: 1rem;
}

/* Customisation Action Buttons */
.edit-page-wrapper-edit-confirm-changes, 
.edit-page-wrapper-go-back-button {

    position: relative;
    flex-shrink: 0;
    transform-origin: center center;
    transform: scale(1);
    margin: 1rem 0 1rem 0;
    padding: 1rem 0 1rem 0;
    background-color: rgb(206, 206, 206);
    border: 0.5px solid rgb(82, 82, 82);
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden; /* Pour que le ::before reste à l'intérieur de la div */
    z-index: 1;
}

.edit-page-wrapper-edit-confirm-changes {

    width: 50%;
    height: 5%;
    margin: 1rem auto 1rem auto;
}

.edit-page-wrapper-go-back-button {

    top: -45%;
    left: -40%;
    width: 150px;
    height: 25px;
    margin: 1rem auto 1rem auto;
}

.edit-page-wrapper-edit-confirm-changes:hover, 
.edit-page-wrapper-go-back-button:hover {

    background-color: rgb(255, 205, 147);
    animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {

    0% {

        transform: scale(1);
    }
    50% {

        transform: scale(1.05);
    }
    100% {

        transform: scale(1);
    }
}

.edit-page-wrapper-edit-confirm-changes::before, 
.edit-page-wrapper-go-back-button::before {

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgb(206, 206, 206);
    transition: top 0.5s ease;
    z-index: 2;
}

.edit-page-wrapper-edit-confirm-changes:hover::before, 
.edit-page-wrapper-go-back-button:hover::before {

    top: 100%;
}

.edit-page-wrapper-edit-confirm-changes > span, 
.edit-page-wrapper-go-back-button > span {

    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 15px;
    transition: color 1s ease;
    z-index: 3;
}

.edit-page-wrapper-edit-confirm-changes:hover > span, 
.edit-page-wrapper-go-back-button:hover > span {

    color: rgb(82, 82, 82);
}

@media (min-width: 400px) and (max-width: 1000px) {

    .edit-page-maincontent {

        background-color: rgb(236, 236, 236);
        background-image: url("../../assets/ShoppingCartPage/background_part2.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .edit-page-wrapper {

        width: 100%;
        height: 90%;
    }

    .edit-page-wrapper-info-client {

        width: 38%;
        height: 80%;
    }

    .edit-page-wrapper-edit {

        left: 48%;
        width: 45%;
        height: 80%;
    }

    .edit-page-wrapper h3 {

        font-size: 20px;
    }

    .edit-page-wrapper-info {

        height: 60%;
    }

    .edit-page-wrapper-info-client p {

        font-size: 18px;
    }
}

@media (min-width: 400px) and (max-width: 1000px) {

    .edit-page-wrapper-go-back-button {

        left: -30%;
    }
}
