.vertical-scrolling-wrapper-follower {

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 70%;
    height: 90%;
    margin: 4rem 0 4rem 0;
    padding: 0;
    background-color: darkgoldenrod;
}

.vertical-scrolling-wrapper-follower-svg {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    background-color: beige;
}

.vertical-scrolling-wrapper-follower-svg > path {

    fill: none;
    stroke: #ccc;
    stroke-width: 0.01px;
}

.vertical-scrolling-wrapper-follower-follower {

    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(168, 119, 54);
    visibility: hidden;
    z-index: 10;
}
