.scrolling-banner {

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 50px;
    background: rgba(53, 119, 56, 0.5);
    overflow: hidden;
    z-index: 1;
}

.scrolling-banner-overlay {

    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    overflow: hidden;
    white-space: nowrap;
}

.scrolling-banner-overlay-text {

    display: inline-block;
    margin-top: 5px;
    padding-left: 100%;
    font-size: 2rem;
    color: white;
    animation: scrolling-banner-animation 15s linear infinite;
}

@keyframes scrolling-banner-animation {

    from {

        transform: translateX(0%);
    }
    to {

        transform: translateX(-100%);
    }
}
